<!DOCTYPE html>
<html>
    <head>

        <title>Current Ramp Information</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/rampstyles.css">
        <script src="static/page.js"></script>
    </head>
    <body>

        <div id="ramps">
            <div class="city"> New Smyrna Beach Ramps </div>
        
        </div>

    </body>
    </html>

